/* setting the variable */

:root {
    --white: hsl(0, 0%, 100%);
    --TopBGPattern: hsl(225, 100%, 98%);
    $CardBG: hsl(227, 47%, 96%);
    --CardBGhover: hsl(227, 47%, 92%);
    --Text: hsl(228, 12%, 44%);
    --Text1: hsl(230, 17%, 14%);
}

:root[data-theme='dark'] {
    --white: hsl(230, 17%, 14%);
    --TopBGPattern: hsl(232, 19%, 15%);
    $CardBG: hsl(228, 28%, 20%);
    --CardBGhover: hsl(228, 28%, 25%);
    --Text: hsl(228, 34%, 66%);
    --Text1: hsl(0, 0%, 100%);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 23px;
    margin-top: 5px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(230, 22%, 74%);
    -webkit-transition: .4s;
    transition: .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-image: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: black;
}


/* Rounded sliders */

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    background-color: var(--white);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: var(--white);
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--white);
}

#header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#headerLeft {
    width: 60%;
    padding-left: 1.5rem;
}

#headerLeft h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0px;
    color: var(--Text1);
}

#headerLeft h4 {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0px;
    color: var(--Text)
}

.hr {
    display: none;
    width: 100%;
}

.headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    padding-right: 2rem;
}

.headerRight span {
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0.5;
    color: var(--Text1);
    padding-right: 0.5rem;
}

#firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.firstBox {
    height: 10rem;
    width: 12rem;
    background-color: var($CardBG);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.firstBox:hover {
    background-color: var(--CardBGhover);
}

.iconClass {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconClass span {
    font-size: 0.7rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    color: var(--Text);
}

.firstBox h3 {
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    color: var(--Text1);
}

.firstBox h5 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    opacity: 0.5;
    margin-top: 0px;
    color: var(--Text);
}

.upIcon span {
    font-size: 0.6rem;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.downIcon span {
    font-size: 0.6rem;
    font-weight: 700;
    color: red;
}

#box1 {
    border-top: 4px solid hsl(203, 89%, 53%);
}

#box2 {
    border-top: 4px solid hsl(195, 100%, 50%);
}

#box3 {
    position: relative;
    border-top: 4px solid hsl(37, 97%, 70%);
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1 stretch;
}

#box4 {
    border-top: 4px solid hsl(348, 97%, 39%);
}

#overview {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    opacity: 0.5;
    padding-left: 1.5rem;
    color: var(--Text)
}

.secondRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    margin-bottom: 1rem;
}

.secondBox {
    height: 6rem;
    width: 12rem;
    background-color: var($CardBG);
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.secondBox:hover {
    background-color: var(--CardBGhover);
}

.leftCol {
    width: 50%;
}

.leftCol p {
    font-size: 0.7rem;
    font-weight: 700;
    opacity: 0.8;
    color: var(--Text1)
}

.leftCol h2 {
    font-size: 1.7rem;
    color: var(--Text)
}

.rightCol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.rightCol div img {
    width: 1.2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Text)
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    html {
        width: 100%
    }
    #main {
        padding-left: 5%;
        padding-right: 5%;
    }
    #header {
        width: 100%;
        flex-direction: column;
    }
    #headerLeft {
        width: 100%;
    }
    .headerRight {
        width: 100%;
        padding-left: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }
    .hr {
        display: block;
        width: 85%;
        padding-right: 1.5rem;
        color: var(--Text1);
        background-color: var(--Text1);
    }
    .switch {
        margin-top: 7px;
    }
    #firstRow {
        flex-direction: column;
        width: 100%;
        padding-left: 1.5rem;
    }
    .firstBox {
        margin-bottom: 1rem;
        width: 90%;
    }
    .secondRow {
        flex-direction: column;
        width: 100%;
        padding-left: 1.5rem;
    }
    .secondBox {
        margin-bottom: 1rem;
        width: 90%
    }
}
